<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>B. Tech. in Computer Science and Engineering</h1>
            <span>Manav Rachna International Institute of Research and Studies</span>
            <span><address>Faridabad, India</address><time>2016 to 2020</time></span>
        </header>
        <p>
            <em>CGPA: 8.51/10</em>
        </p>
    </article>
    <article>
        <header>
            <h1>High Scchool</h1>
            <span>Notre Dame Higher Secondary School</span>
            <span><address>Bandipur, Nepal</address><time>2013 to 2015</time></span>
        </header>
        <p>
            <em>Percentage: 81.9%</em>
        </p>
    </article>
</section>
