<section class="thirteen columns">
    <h1>Projects</h1>
    <article>
        <header>
            <h1>Youtube Comment Classification Based on Sentiment and Type of Sentence</h1>
        </header>
        <p>
            
        </p>
    </article>
    <article>
        <header>
            <h1>Heart Disease Prediction</h1>
        </header>
        <p>

        </p>
    </article>
    <article>
        <header>
            <h1>Poem Categorization</h1>
        </header>
        <p>
            
        </p>
    </article>
</section>