<section class="thirteen columns">
    <h1>Projects</h1>
    <article>
        <header>
            <h1>YouTube Comment Classification Based on Sentiment and Type of Sentence</h1>
        </header>
        <p>
            This project classifies the comments of YouTube into different categories based on the need of the content
            creator.
        </p>
    </article>
    <article>
        <header>
            <h1>Heart Disease Prediction</h1>
        </header>
        <p>
            A kaggle project to predict the possibility of heart disease on a patient.
        </p>
    </article>
    <article>
        <header>
            <h1>Poem Categorization</h1>
        </header>
        <p>
            It is a NLP project to classify poems into differnet categories.
        </p>
    </article>
</section>