<section id="projects">
    <div class="container">
        <h3>Publications</h3>
        <div class="panel panel-default">
            <div class="panel-body">
                <h5>
                    <i class="fa fa-pencil-square-o"></i>&nbsp;&nbsp;<strong>Classifying YouTube
                        Comments based on Sentiment and Type of Sentence</strong>,
                    Accepted at ICSP-IEEE(icsp-ieee.org) 2020
                </h5>
                <h5>
                    <i class="fa fa-pencil-square-o"></i>&nbsp;&nbsp;<strong><a
                            href="https://papers.ssrn.com/sol3/papers.cfm?abstract_id=3326527">A Survey on Secure
                            Routing
                            Protocols Based on Trust Management in IoT</a></strong>,
                    4th International Conference on Cyber Security (ICCS)October 26, 2018
                </h5>
            </div>
        </div>
    </div>
</section>