<section class="thirteen columns">
    <h1>References</h1>
    <article>
        <header>
            <h1>Dr. Urvashi Chugh</h1>
            <span>Assistant Professor, Manav Rachna International Institute of Research and Studies</span>
        </header>
    </article>
    <article>
        <header>
            <h1>Shobha Tyagi</h1>
            <span>Assisant Professor, Manav Rachna International Institute of Research and Studies</span>
        </header>
    </article>
    <article>
        <header>
            <h1>Punit Jajodia</h1>
            <span>Co-founder, Programiz</span>
        </header>
    </article>
    
    <p>Contact details of referees available upon request.</p>
</section>