<b>[Conference Poster Presentation]</b> -- <i>Generating Continuations in Multilingual Idiomatic Contexts</i>, MRL [EMNLP], 2023. <i>[Virtual]</i>
<br>
<br>
<b>[Conference Presentation]</b> -- <i>Estimating Semantic Similarity between In-Domain and Out-of-Domain Samples</i>, *SEM [ACL], 2023. <i>[In Person]</i>
<br>
<br>
<b>[Conference Poster Presentation]</b> -- <i>Estimating Semantic Similarity between In-Domain and Out-of-Domain Samples</i>, *SEM [ACL], 2023. <i>[In Person]</i>
<br>
<br>
<b>[Conference Poster Presentation]</b> -- <i>nediom: Dataset and Analysis of Nepali Idioms</i>, CHiPSAL [COLING], 2025. <i>[Virtual]</i>
<br>
<br>
